<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Timothy Strociak</title>
        <script src="https://kit.fontawesome.com/d68a9f7df7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../Styles/stylesheet.css">
        <nav>  <ul>
            <li><a class="active" href="../index.html">Home <i class="fas fa-home"></i></a></li>
            <li><a href="../HTML/resume.html">Resume  <i class="far fa-file"></i></a></li>
            <li><a href="../HTML/fun_facts.html">Fun Facts <i class="fas fa-user-check"></i></a></li>
            <li><a href="../HTML/blog.html">Blog <i class="fas fa-blog"></i></a></li>
            
            </ul>
        </nav>
        <link rel="shortcut icon" type="image/png" href="Images/favhome.jpg">
    </head>
<body background="../Images/background2.jpg">

    <section id="bloghead">
        <h1 class="favClass">Tim's Blog</h1>
    </section>

    <section id="multimedia">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/DTGtC7FC4oI" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </section>

    <section id="multimediatext">
        <h2>Jewel Kilcher - JRE #1724</h2>
        <p>
            Joe Rogan had a guest on his Podcast "The Joe Rogan Experience" named "Jewel Kilcher." 
            Jewel is an American singer-songwriter, musician, actress, and author. 
            She has received four Grammy Award nominations and, as of 2021, has sold over 30 
            million albums worldwide. With all her success and fame, you might tend to generalize her as 
            another "famous singer" who isn't vert bright and only thinks about herself. Surprisingly, this 
            wasn't the case.
        </p>
        <p>
            Going into this Podcast, I had no idea what to expect. At the time, I had no idea who this "jewel"
            person was. I knew she had to be somewhat famous if she was on the JRE but I tried to keep my mind open
            as she began to explain her story. She truly has the "rags to riches" story but hers takes another twist
            at the end and it all falls apart again. My favorite thing about her is that she continued with the same
            mindset the entire time. I would say she has the buddhist mindset down to a T. She was constantly mindful
            her entire life which lead her to think differently than her peers which allowed her to push foward even
            though the world seemed against her. Her come-up story was filled with tragity and hoplessness but she 
            continued to push forward with everything she had. At one point, her label offered her 1 million dollars
            as long as she could sell 1 million dollars worth of albums. She decided not to take the money because she
            didn't want to be in debt with anyone, which I believe is extremely intelligent on her part.
            Also, once she was famous and gained an immense amount of wealth. Her mother that left her as a child
            came back into her life to be her manager. Behind her back, her mother stole 100 Million dollars from her
            and she fled leaving Jewel Broke and in debt again. With Jewel's mindset, this didn't stop her from 
            continuing. She was able to pay off all her debt and forgive her mother. I belive we should
            all take after jewel's way of thinking because it is truly amazing.
        </p>

    </section>
    <section id="commentsec">
        <div class="container1">
          <div class="row">
            <div class="col">
            <button onclick="onButtonClick()" class='primaryContained' type="button"value="Show Text Field" >Add Comment</button>
          <textarea id="textInput" class="hide" type="text"  onkeyup="Allow()" placeholder="Write a comment.."></textarea>
          <div class="submitBtn">
              <input type="submit" value="Post" class="hide" id="buttonInput" onclick="insert()"></button>
            
            </div>
            </div>
          </div>
        </div>
        <br>
    <div id="comHead">
       <h1 class="center2"> Comments</h1>
       
    </div>
        
        

        <div id="comDisplay">
            
            <hr>
        </div>

        <div id="comDisplay2">
            
            <hr>
        </div>
        
      </section>




      <section id="commentsec2">
        <div class="container1">
          <div class="row">
            <div class="col">
            <button onclick="onButtonClick2()" class='primaryContained' type="button"value="Show Text Field" >Add Reply</button>
          <textarea id="textInput2" class="hide" type="text"  onkeyup="Allow()" placeholder="Write a reply.."></textarea>
          <div class="submitBtn2">
              <input type="submit" value="Post" class="hide" id="buttonInput2" onclick="insert2()"></button>
            
            </div>
            </div>
          </div>
        </div>






      <script type="text/javascript" src="../JS/js.js"> </script>"

      



</body>
<footer>
    <ul>
        <li ><a href="../index.html">Home</a></li>
        <li ><a href="https://www.instagram.com/timstrociak/">Instagram  <i class="fab fa-instagram"></i></a></li>
        <li ><a href="https://www.linkedin.com/in/strociak/">LinkedIn  <i class="fab fa-linkedin"></i></a></li>
    </ul>
    <p class="copyright">Strociak © 2018</p>
</footer>
</html>