<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/d68a9f7df7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Styles/stylesheet.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timothy Strociak</title>
    <link rel="shortcut icon" type="image/png" href="Images/favhome.jpg">
    <nav>  <ul>
        <li><a class="active" href="../index.html">Home <i class="fas fa-home"></i></a></li>
        <li><a href="../HTML/resume.html">Resume  <i class="far fa-file"></i></a></li>
        <li><a href="../HTML/fun_facts.html">Fun Facts <i class="fas fa-user-check"></i></a></li>
        <li><a href="../HTML/blog.html">Blog <i class="fas fa-blog"></i></a></li>
        
        </ul>
    </nav>
</head>
<body background="../Images/background2.jpg">
    <section id="intro_ff">
        <h1 id="funfactsHeader">Fun Facts About Me!</h1>
        <img id="ffHead" src="../Images/funfacts.png">
        
    </section>
    
<hr>
<section id="fav_book">

<H2><i class="fas fa-book"></i> My Favorite Book  <a href="https://www.amazon.com/Why-Buddhism-Is-True-audiobook/dp/B073XT51R3"> (Click Here To Buy) <i class="fas fa-mouse-pointer"></i></a></H2>
<h3><em>Why Buddhism is True</em> by Robert Wright</h3>
<img id= "wbit" src="../Images/WBIT.jpg" alt="Why buddhism is true book cover">
<p> I just finished this book and it really enjoyed it!<br>
It is amazing at opening your mind and using science to aid in it</p>
    </section>

<hr>

<section id="fav_audio">
    <H2><i class="fas fa-music"></i> My Favorite Song <a href="https://www.amazon.com/Never-Gonna-Give-You-Up/dp/B0000CDLKF"> (Click Here To Buy) <i class="fas fa-mouse-pointer"></i></a></H2>
    <h3><em>Never Gonna Give You Up</em> by Rick Astley</h3>
    <img id="rickImg" src="../Images/rickAlbum.jpg">
    <audio controls>
        <source id="testeste" src="../Audio/Never Gonna Give You Up.mp3" type="audio/mp3">
      Your browser does not support the audio element.
      </audio>
</section>
<hr>
<section id="fav_movie">
    <H2><i class="fas fa-film"></i> My Favorite Movie <a href="https://www.youtube.com/watch?v=2LqzF5WauAw&ab_channel=InterstellarMovie"> (Click Here To Watch Trailer) <i class="fas fa-mouse-pointer"></i></a></H2>
    <h3><em>Interstellar</em> directed by Christopher Nolan </h3>
    <iframe id="interFrame" width="400" height="230" src="https://www.youtube.com/embed/2LqzF5WauAw" title="YouTube video player for Interstellar"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</section>
<hr>
    
</body>
<footer>
    <ul>
        <li ><a href="../index.html">Home</a></li>
        <li ><a href="https://www.instagram.com/timstrociak/">Instagram  <i class="fab fa-instagram"></i></a></li>
        <li ><a href="https://www.linkedin.com/in/strociak/">LinkedIn  <i class="fab fa-linkedin"></i></a></li>
    </ul>
    <p class="copyright">Strociak © 2018</p>
</footer>
</html>