
<html>
<head>
<script src="https://kit.fontawesome.com/d68a9f7df7.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../public/Styles/stylesheet.css">
<nav>  <ul>
    <li><a class="active" href="/">Home <i class="fas fa-home"></i></a></li>
    <li><a href="/resume">Resume  <i class="far fa-file"></i></a></li>
    <li><a href="/fun_facts">Fun Facts <i class="fas fa-user-check"></i></a></li>
    <li><a href="/blog">Blog <i class="fas fa-blog"></i></a></li>
    <li><a href="/trivia">Trivia <i class="fab fa-tumblr-square"></i></a></li>
    
    </ul>
</nav>

<link rel="shortcut icon" type="image/png" href="../public/Images/favhome.jpg">
<title>Timothy Strociak</title>
</head>
<body background="../public/Images/background2.jpg">

<!---Intro section-->   
<section id="intro_1">
<h1 id="mainHeader">Timothy Stroicak</h1>
<img id=timImage src="../public/Images/IMG_tim.jpg" alt="image of Timothy" style="width:200px" class="center">
<p id="quote1">"If you look at what you have in life, you'll always have more.
     If you look at what you don't have in life, you'll<br>never have enough" -Oprah Winfrey</P>
</section>
<br><br>
<!---First Paragraph section--> 
<section id="paragraph_1">
    <p>Hello viewers! I'm Timothy Strociak. I'm a student here at Oakland University!
        <br>I'm currently working towards my bachelors degree in Information Technology. <br>
        I work at Anchor Printing located in Novi, Michigan but I'm looking forward<br>
        to finding a career that would suit my degree and the hard work i've put towards it.<br>
        If you would like to see my Resume check out <a href="resume.html">Page-2</a> or if you would like to hear<br>
        some interesting facts about me, definetly check out <a href="fun_facts.html">Page-3!</a> 
    </p>
    <hr>
    <progress value = "100" max = "120"></progress>
    <p>90/120 Credits <i class="fas fa-coins"></i> to Graduate</p>
    
</section>

<!---Footer section--> 
</body>
<footer>
        <ul class="footer2">
            <li ><a class="active" href="/">Home</a></li>
            <li ><a href="https://www.instagram.com/timstrociak/">Instagram  <i class="fab fa-instagram"></i></a></li>
            <li ><a href="https://www.linkedin.com/in/strociak/">LinkedIn  <i class="fab fa-linkedin"></i></a></li>
        </ul>
        <p class="copyright">Strociak © 2018</p>
 </footer>
    
</html>