<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timothy Strociak</title>
    <script src="https://kit.fontawesome.com/d68a9f7df7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Styles/stylesheet.css">
    <nav>  <ul>
        <li><a class="active" href="../index.html">Home <i class="fas fa-home"></i></a></li>
        <li><a href="../HTML/resume.html">Resume  <i class="far fa-file"></i></a></li>
        <li><a href="../HTML/fun_facts.html">Fun Facts <i class="fas fa-user-check"></i></a></li>
        <li><a href="../HTML/blog.html">Blog <i class="fas fa-blog"></i></i></a></li>
        
        </ul>
    </nav>
    <link rel="shortcut icon" type="image/png" href="Images/favhome.jpg">
</head>
<body background="../Images/background2.jpg">
    <main>
    <section id="intro_res">
    <h1>Timothy Strociak's Resume</h1>
    <h2 id="emailLink"><i class="fas fa-envelope-square"></i> <a href = "mailto: Strociak@Oakland.edu"> Strociak@Oakland.edu</a><i class="fas fa-envelope-square"></i></h2>
    </section>
    <section id="objective">
        <p>Finishing Information Technology Degree and Seeking an internship for summer 2022 as a full stack web developer</p>
    </section>
<hr>
    <section id="prof_expir">
        <h2 id=prof_expirHead> Professional Experience <i class="fas fa-user-tie"></i></h2>
        <h2>Jobs</h2>
        <table id= AnchorTable>
        <tr>
            <th>Anchor Printing Novi, MI</th> <th>Shipping Clerk</th>
        </tr>
            <tr>
            <td>
                Start Date - May 2021 <-
            </td> 
            <td>
                -> End Date - NA
            </td> 
        </tr>
        <tr><td colspan="2">Help coworkers run the shipping department</td></tr>
        
</table>    
<br>
            
        
        <table id= EdgewoodTable>
            <tr>
            <th>Edgewood Country Club, Commerce, MI</th><th>Pantry Chef</th>
                <tr><td colspan="2">Managed the Pantry station in the Kitchen</td></tr>
            <tr>
            <td>
                Start Date - October 2018 <-
            </td> 
            <td>
                -> End Date - May 2021
            </td> 
            </tr>

            
        </table>
        <br>
        
        <table id="DickeysTable">

        <tr>
           <th>Dickeys BBQ, Commerce, MI</th><th> Pit Master</th>
           <tr><td colspan="2">Worked the Block/Cut meat & greeting customers</td></tr>
            <tr>
            <td>
                Start Date - June 2018 <-
            </td> 
            <td>
                -> End Date - October 2018
            </td> 
            </tr>

            
        </table>
        <br>
        
    </section>
    <section id="Edu_exp">
        <h2>Educational Experiences <i class="fas fa-school"></i></h2>
        <table id=table1>
            <tr>
              <th>Start--End</th>
              <th>Degree</th>
            </tr>
            <tr>
              <td>2018-2023</td>
              <td>Bachelors of Information Technology
                  <br>Oakland University, Auburn Hills</td>
           
          </table>
          <br>
          
    </section>
    <hr>
    <section id="Ex_act">
        <h2>Extracurricular Activities <i class="fas fa-biking"></i></h2>
        <table id="Ex_act_table">
        <tr>
            <td>Outside of work/school I enjoy working out, studying pharmacology and reading</td>
        </tr>
        </table>
        <br>

    </section>
    <hr>

    </main>

</body>
<footer>
    <ul>
        <li ><a href="../index.html">Home</a></li>
        <li ><a href="https://www.instagram.com/timstrociak/">Instagram  <i class="fab fa-instagram"></i></a></li>
        <li ><a href="https://www.linkedin.com/in/strociak/">LinkedIn  <i class="fab fa-linkedin"></i></a></li>
    </ul>
    <p class="copyright">Strociak © 2018</p>
</footer>
</html>