<html>
<head>
<script src="https://kit.fontawesome.com/d68a9f7df7.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../public/Styles/stylesheet.css">
<nav>  <ul>
    <li><a class="active" href="/">Home <i class="fas fa-home"></i></a></li>
    <li><a href="/resume">Resume  <i class="far fa-file"></i></a></li>
    <li><a href="/fun_facts">Fun Facts <i class="fas fa-user-check"></i></a></li>
    <li><a href="/blog">Blog <i class="fas fa-blog"></i></a></li>
    <li><a href="/trivia">Trivia <i class="fab fa-tumblr-square"></i></a></li>
    
    </ul>
</nav>

<link rel="shortcut icon" type="image/png" href="../public/Images/favhome.jpg">
<title>Timothy Strociak</title>
</head>
<body background="../public/Images/background2.jpg">
        <h1 class="favclass">Trivia Quiz!</h1>
    <div id="quiz" class="favClass"></div>
    <button id="submit" class="center">Get Results</button>
    <br><br><br>
    <h1 class="favclass">Results</h1>
    <div class="favClass" id="results">
        
    </div>
    
<script type="text/javascript" src="../public/JS/trivia.js"></script>    
</body>
<footer>
    <ul>
        <li ><a href="/">Home</a></li>
        <li ><a href="https://www.instagram.com/timstrociak/">Instagram  <i class="fab fa-instagram"></i></a></li>
        <li ><a href="https://www.linkedin.com/in/strociak/">LinkedIn  <i class="fab fa-linkedin"></i></a></li>
    </ul>
    <p class="copyright">Strociak © 2018</p>
</footer>
</html>