.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.center2 {
    text-align: center;
    font-size: 25px;
  }
.footer {
    position: fixed;
    left:0px;
   bottom:0px;
   height: 10px;
   width:100%;
    padding: 10px;
    background-color: #ffffff;
    
    
  }



  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
  li {
  float: left;
  }
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
        }
  .active {
    background-color: #af874c;
        }

#paragraph_1 {
    text-align: center;
}

#intro_1 {
    text-align: center;
    padding: 20px;
}

#intro_res {
    text-align: center;
    background-color: #ffffff;
    outline: solid;
    font-size: 20px;
}
#objective {
    text-align: center;
    background-color: #ffffff;
    outline: solid;
}

#prof_expir {
    text-align: center;
    background-color: #ffffff;
    outline: solid;
}
#prof_expirHead{
    font-size: 30px;
    border: solid;
}
#Edu_exp {
    text-align: center;
}
table, th, td {
    margin: auto;
    caption-side: bottom;
    border: 2px solid black;
 }

 #Ex_act {
    text-align: center;
}

#wbit{
    width: 200px;
}

#timpic{
    width:200px;
}

#timImage {
    border-radius: 8px;
    outline: solid;
    
  }

  #paragraph_1{
    font-weight: 700;
    background-color: #ffffff;
    outline: solid;
    padding: 3px; 
}

#quote1{
    font-weight: 700;
    background-color: #ffffff;
    padding: 3px;
    outline: solid;
    font-style: italic;
    
}

#mainheader{
    font-size: 90px;
}

.copyright{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

#table1{
    background-color: wheat;
}

#footer2{
    text-align: center;
}

#intro_ff{
    background-color: white;
    border: solid;
    text-align: center;
}

#fav_book{
    background-color: white;
    border: solid;
    text-align: center;
}


#wbit{
    border: solid 2px;
}

#fav_audio{
    background-color: white;
    border: solid;
    text-align: center;
    padding: 5px;

}

#rickImg{
    border: solid 2px;
}

#fav_movie{
    background-color: white;
    border: solid;
    text-align: center;
}
#funfactsHeader{
    font-size:30px;
    
}
#ffHead{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  background: rgba(0, 0, 0, 0);
}

#interFrame{
    border: solid 4px;
}

#Ex_act{
    background-color: white;
    border: solid;
    text-align: center;
}

.favClass{
    background-color: white;
    border: solid;
    text-align: center;
    
}

#Edu_exp{
    background-color: white;
    border: solid;
    text-align: center;
    padding: 10px;
}

#emailLink{
    font-size: 20px;
    padding: 10px;
}

#EdgewoodTable{
    padding: 10px;
    background-color: wheat;
}

#DickeysTable{
    padding: 10px;
    background-color: wheat;
}

#AnchorTable{
    padding: 10px;
    background-color: wheat;
    
}

#Ex_act_table{
    padding: 10px;
}

#multimedia{
    align-content: center;
    background-color: white;
    border: solid;
    text-align: center;
}

#bloghead{
    text-align: center;
    font-size:30px;
}

#multimediatext{
    
    background-color: white;
    border: solid;
    text-align: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.container1 {
	max-width: 640px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
    border: solid;
}

.comment {
	display: block;
	transition: all 1s;
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

.container1 textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #ff9742;
	transition: all 0.5s;
	margin-top: 15px;
}

button.primaryContained {
	background: #ff9742;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}
button.primaryContained:hover {
	background: #9201A8;
}

.hide{
    display:none;
  }
  .show{
    display:block;
  }
  #buttonInput{
    background: #ff9742;
	color: #fff;
	padding: 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
  }

  #buttonInput2{
    background: #ff9742;
	color: #fff;
	padding: 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
  }

  #comDisplay{
    background-color: white;
    border: solid;
    padding: 10px;
  }

  #comDisplay2{
    background-color: white;
    border: solid;
    padding: 10px;
    text-align: right;
  }


  .submitBtn{
      padding: 10px;
  }

  .submitBtn2{
    padding: 10px;
}

  #comHead{
    background-color: white;
    border: solid;
    padding: 1px
    
  }

  .question{
    font-weight: 600;
  }
  .answers {
      margin-bottom: 20px;
  }
  #submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #submit:hover{
    background-color: #3a8;
  }
  #results{
      font-size: 30px;
  }